name: Build and Deploy documentation

on:
  push:
    branches:
      - 'release/**'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Clone Documentation Repo
        run: git clone https://github.com/ffhs/docusaurus_package_documentation.git

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build project
        working-directory: docusaurus_package_documentation
        run: bash ./build-doco.sh "https://github.com/${{ github.repository }}"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docusaurus_package_documentation/build
