name: Build and Deploy documentation

on:
  push:
    branches:
      - "release/**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Clone Documentation Repo
        run: git clone https://github.com/ffhs/docusaurus_package_documentation.git

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build project
        working-directory: docusaurus_package_documentation
        run: bash ./build-doco.sh "https://github.com/${{ github.repository }}"

      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docusaurus_package_documentation/build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
